main {
	margin-left: 125px;
	margin-right: 20px;
}

.container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1.4fr 0.6fr 1fr;
	gap: 20px 20px;
	grid-auto-flow: row;
	grid-template-areas:
		'activity activity activity'
		'activity activity activity'
		'average performance score'
		'average performance score';
}

.activity {
	grid-area: activity;
}

.average {
	grid-area: average;
}

.performance {
	grid-area: performance;
}

.score {
	grid-area: score;
}

.graphContainer {
	display: flex;
	flex-direction: row;
	gap: 50px;
}

.cardsContainer {
	display: flex;
	flex-direction: column;
	gap: 50px;
}
