.navBar {
	background-color: #020203;
	width: 92px;
	height: 100vh;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.navBar .iconsContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 20px;
}

.navBar .copyright {
	justify-self: end;
}
